<!-- NAVBAR -->
<nav class="navbar">
  <button class="nav-btn" routerLink="/menu">Inicio</button>
  <button class="nav-btn" routerLink="/publicar-proyectos">Publicar Proyecto</button>
  <div class="nav-username">
    <a [routerLink]="['/mi-perfil']">{{ nombreCompleto }}</a>
  </div>
  <button class="nav-btn" routerLink="/canales">Canales</button>
  <button class="nav-btn logout" (click)="logout()">Cerrar Sesión</button>
</nav>

<div class="perfil-container">
  <h1>Mi Perfil</h1>

  <!-- Mostrar los datos actuales del usuario -->
  <div>
    <p><strong>Nombre:</strong> {{ usuario?.nombre }} {{ usuario?.apellido }}</p>
    <p><strong>Email:</strong> {{ usuario?.email }}</p>
    <p><strong>Teléfono:</strong> {{ usuario?.telefono }}</p>
    <p><strong>Ubicación:</strong> {{ usuario?.ubicacion }}</p>
    <p><strong>Rol:</strong> {{ usuario?.rolPrincipal }}</p>
    <p><strong>Completitud:</strong> {{ usuario?.completitud }}%</p>
    <div *ngIf="usuario?.profesorData">
      <p><strong>Departamento:</strong> {{ usuario?.profesorData?.departamento }}</p>
      <p><strong>Categoría Docente:</strong> {{ usuario?.profesorData?.categoriaDocente }}</p>
      <p><strong>Áreas Docentes:</strong> {{ usuario?.profesorData?.areasDocentes }}</p>
    </div>
    <div *ngIf="usuario?.investigadorData">
      <p><strong>Áreas de Investigación:</strong> {{ usuario?.investigadorData?.areasInvestigacion }}</p>
      <p><strong>Afiliaciones:</strong> {{ usuario?.investigadorData?.afiliaciones }}</p>
      <p><strong>Hindex:</strong> {{ usuario?.investigadorData?.hindex }}</p>
    </div>
  </div>

<!-- Botón para abrir el modal -->
<!-- Botón para abrir el modal -->
<button (click)="openModal()" class="btn-editar">Editar Perfil</button>

</div>

<!-- Modal de edición de perfil -->
<app-editar-perfil 
  [modalVisible]="modalVisible" 
  [perfilData]="perfilDataCopy" 
  (closeModal)="closeModal()" 
  (updateData)="updateProfileData($event)">
</app-editar-perfil>
